resources/stateMachines.yml
firstStateMachine:
  name: first${self:provider.stage}StateMachine
  role: !GetAtt StateMachineRole.Arn
  definition:
    Comment: "Online Purchasing State Machine"
    StartAt: createInvoice
    States:
      createInvoice:
        Type: Task
        Resource: !GetAtt createInvoice.Arn
        Next: pendingPick
      pendingPick:
        Type: Task
        Resource: arn:${AWS::Partition}:states:::lambda:invoke.waitForTaskToken
        Parameters:
          FunctionName: !GetAtt pendingInput.Arn
          Payload:
          - taskToken.$: $$.Task.Token
          - order.$: "$"
        Next: emailCustomer
      emailCustomer:
        Type: Task
        Resource: !GetAtt emailCustomer.Arn
        End: true

        
      

secondStateMachine:
  name: second${self:provider.stage}StateMachine
  role: !GetAtt StateMachineRole.Arn
  definition:
    Comment: "Online Purchasing State Machine"
    StartAt: createInvoice
    States:
      createInvoice:
        Type: Task
        Resource: !GetAtt createInvoice.Arn
        End: true